 


      <p>
I woke up "@Model.Adverb" this morning and the first thing I grabed was my "@Model.Nouns" it was all covered with white "@Model.Adjective" "@Model.Verb" goop "@Model.Exclamations" 
      </p>
